extends ../main.layout.pug

block content
    section.section.hero(style='background-image: url(assets/img/header/header.jpg)')
        ul.socials
            each item in ['vk', 'github', 'in']
                li.socials__item
                    a(href="" class=`socials__link socials__link_${item}`)
        a(href="").hamburger
            img(src="assets/img/header/hamburger.svg" alt="menu icon").hamburger__icon
        a(href="").down-arrow
            img(src="assets/img/header/arrow_down.svg" alt="arrow_down").down-arrow__icon
        .hero__title
            img(src="../../" alt="").section-title
            .user.hero__user-block
                .user__photo
                    .user__photo-avatar
                        img(src="assets/img/header/user.jpg" alt="user photo")
                .user__name Владимир Астахов
                .user__desc Личный сайт веб-разработчик
    section.section.about
        .about__left
            svg.triangle.triangle_fill_white
            .title.about__section-title
                | About me
            .user-about
                .user-about__picture
                .user-about__title
                    .subtitle
                        | Who I am
                .user-about__text
                    p Я веб разработчик из Новосибирска. Мне 27 лет. Я занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты.
                    p Я веб разработчик из Новосибирска. Мне 27 лет. Я занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты.
        .about__right
            svg.triangle.triangle_fill_beige
            .about-data
                .about-data__description.about-user-info
                    .about-user-info__title 
                        .subtitle What can I do?
                    .about-user-info__text
                        p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum omnis quae, quisquam, sint quis exercitationem. Sed excepturi eligendi placeat soluta.
                .about-data__content
                    ul.skills
                        each skill in ['Frontend', 'Backend', 'WorkFlow']
                            li.skill__item
                                .skill-section
                                    .skill-section__title= skill
                                    ul.skill-section__list
                                        each skillName in ['HTML5', 'CSS3', 'jQuery']
                                            li.skills-section__item
                                                .skill
                                                    svg.skill__circle
                                                    .skill__name= skillName
    section.section.map
